body{
    background: linear-gradient(to right, #000000, #2e8b57);
}

.Cabecera{
    background-color: beige;
    height: 400px;
    text-align: center;
    color: black
}

.Ending{
    background-color: beige;
    height: 400px;
    text-align: center;
    color: black;
    margin-top: 7.8%;
}

.mini_escudo{
    
    position: absolute;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20%;
    margin-left: 0px;
    border-style: none;
}

#logotienda{
    position: absolute;
    height: 325px;
    width: 400px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#logo_tienda{
    height: 350px;
    cursor: pointer;
}
.acarrito{
    background-color: beige;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 30%;
    border-style: none;
}
#carrito{
    height: 300px;
}

#logo{
    height: 400px;
    cursor: pointer;
}

#carrito:hover{
    cursor: pointer;
    height: 85px;
}

#banner{
    size: inherit;
    text-align: center;
    background-color: black;
}

.Contenido{
    margin-top: 115px;
    text-align: center;
}

.producto{
    height: 1000px;
    margin-right: 0px;
    opacity: 100%;
}

.producto:hover{
    height: 1200px;
    cursor: pointer;
}


.boton{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.fotopie{
    font-size: 80px;
}






