body{
    background: linear-gradient(to right, #08a72f,  #2e04e9);
}

.Cabecera{
    background-color: white;
    height: 100px;
    text-align: center;
    color: black
}

.Ending{
    background-color: white;
    height: 100px;
    text-align: center;
    color: black;
    margin-top: 11%;
}

.mini_escudo{
    
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20%;
    margin-left: 0px;
    border-style: none;
}

#logotienda{
    position: absolute;
    height: 75px;
    width: 100px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#logo_tienda{
    height: 100px;
    cursor: pointer;
}
.acarrito{
    background-color: white;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 30%;
    border-style: none;
}
#carrito{
    height: 80px;
}

#logo{
    height: 100px;
    cursor: pointer;
}

#carrito:hover{
    cursor: pointer;
    height: 70px;
}

#banner{
    size: inherit;
    text-align: center;
    background-color: black;
}

.Contenido{
    margin-top: 115px;
    text-align: center;
}



.boton{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: black;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.fotopie{
    font-size: 30px;
}

.Horus{
 width: 250px;
 height: 200px;
}

.Horus:hover{
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.abbadon{
    width: 250px;
    height: 200px;
}

.abbadon:hover{
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.Lord{
    width: 250px;
    height: 200px;
}

.Lord:hover{
    height: 300px;
    width: 300px;
    cursor: pointer;
}


.inline2{
    margin-top: 4%;
    display:flex; 
    justify-content:space-around; 
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    color: white;
    font-style: oblique;
    border-radius: 15px;

}