body{
    background: linear-gradient(to right, #000000, #2e8b57);
}

.Cabecera{
    background-color: beige;
    height: 200px;
    text-align: center;
    color: black
}

.Ending{
    background-color: beige;
    height: 200px;
    text-align: center;
    color: black;
    margin-top: 7.8%;
}

.mini_escudo{
    text-align: left;
}

#logo_tienda{
    position: absolute;
    height: 50px;
    margin-left: 50px;
    margin-top: 5px;
}



