body{
    background: linear-gradient(to right, #000000, #2e8b57);
}

.Cabecera{
    background-color: beige;
    height: 200px;
    text-align: center;
    color: black
}

.Ending{
    background-color: beige;
    height: 250px;
    text-align: center;
    color: black;
    margin-top: 7.8%;
}

.mini_escudo{
    text-align: left;
}

#logotienda{
    position: absolute;
    height: 150px;
    margin-left: 150px;
    margin-top: 20px;
}
#logo_tienda{
    height: 200px;
    cursor: pointer;
}
.acarrito{
    background-color: beige;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 20%;
    border-style: none;
}
#carrito{
    height: 150px;
}

#logo{
    height: 250px;
    cursor: pointer;
}

#carrito:hover{
    cursor: pointer;
    height: 85px;
}

#banner{
    size: inherit;
    text-align: center;
    background-color: black;
}

.Contenido{
    margin-top: 115px;
    text-align: center;
}

.producto{
    height: 180px;
    margin-right: 0px;
    opacity: 100%;
}



